.container
  .row
    .col.s8.offset-s2
      %h2.red-text.text-lighten-3 articles#new
      = form_for @article do |f|
        .row
          #preview-area
          .title-field
            = f.label "title"
            = f.text_field :title
          #image-box
            #previews
              .preview
                - if @article.persisted?
                  - @article.photos.each_with_index do |image, i|
                    = image_tag image.image.url, data: { index: i }, width: "144", height: '144'
              .label-content
                %pre.label-box__text-visible.fa.fa-camera
            = f.fields_for :photos do |image|

              .js-file_group(data-index = "#{image.index}")
                = image.file_field :image, class: 'js-file hidden'
                .js-remove.hidden(data-index = "#{image.index}") 削除#{image.index}
              - if @article.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @article.persisted?
              .js-file_group(data-index = "#{@article.photos.count}")
                = file_field_tag :image, name: "article[photos_attributes][#{@article.photos.count}][image]", class: 'js-file'
                .js-remove 削除
          .input-field
            = f.label "content", for: "md-textarea"
            = f.text_area :body, class: "materialize-textarea", id: "md-textarea"
        .row
          .col.s4
            .btn#markdown.disabled markdown
          .col.s4
            .btn#preview preview
          .col.s4
            = f.submit "send", class: "btn"