.main.js-usersIndex
  .row#title
    %h1.title
      メモ一覧
    - @posts.each do |post|
      .col.s4.m6
        .card
          %span.card-title{'v-on:click': "setPostInfo(#{post.id})"}
            = post.title
          .content-box
            = button_to edit_post_path(post.id), class:'post-edit', method: :get do
              %i.fas.fa-edit
            = button_to post_path(post.id), class:'post-delete', method: :delete,  data: { confirm: '削除しますか？' } do
              %i.fas.fa-trash-alt
  .row{'v-show': 'postInfoBool'}
    .col.s12.m12
      .card.blue-grey.darken-1
        .card-content.white-text
          %span.card-title
            {{ postInfo.title }} 
          .today
            .detail-label-1
              学習日時：
            .detail-1
              {{ postInfo.today }}
          .time
            .detail-label-2
              学習時間：
            .detail-2
            {{ postInfo.time }} 時間
          .memo
            .detail-label-3
              %span.box-title メモ内容
              %p.detail-3
                %p{"v-html" => "postInfo.text"}

= javascript_pack_tag 'users/index'

