.side
  .side-menu
    = link_to new_post_path, class: "side-menu__1" do
      .side-menu__1__link
        .side-menu__1__link__icon
          %i.fas.fa-plus-square
        .side-menu__1__link__name
          メモ作成
    = link_to users_path, class: "side-menu__2" do
      .side-menu__2__link
        .side-menu__2__link__icon
          %i.far.fa-sticky-note
        .side-menu__2__link__name
          メモ一覧
    = link_to controller: 'users', action: 'show', name: "mypost", class: "side-menu__3" do
      .side-menu__3__link
        .side-menu__3__link__icon
          %i.fas.fa-newspaper
        .side-menu__3__link__name
          投稿一覧
    = link_to controller: 'users', action: 'show', name: "chart", class: "side-menu__4" do
      .side-menu__4__link
        .side-menu__4__link__icon
          %i.fas.fa-chart-bar
        .side-menu__4__link__name
          学習時間
    = link_to controller: 'users', action: 'show', name: "chart", class: "side-menu__5" do
      .side-menu__5__link
        .side-menu__5__link__icon
          %i.fas.fa-heart
        .side-menu__5__link__name
          いいね！一覧
    = link_to controller: 'users', action: 'show', name: "chart", class: "side-menu__6" do
      .side-menu__6__link
        .side-menu__6__link__icon
          %i.fas.fa-user
        .side-menu__6__link__name
          マイプロフィール
    = link_to controller: 'users', action: 'show', name: "logout", class: "side-menu__6" do
      .side-menu__6__link
        .side-menu__6__link__icon
          %i.fas.fa-sign-out-alt
        .side-menu__6__link__name
          ログアウト