= render "partial/header"
.upform
  %h4 メモ書き編集
  = form_with model: @post, local: true, method: "PATCH" do |f|
    .upform__post
      .upform__post__title
        = f.label :title, "タイトル"
        %br
        = f.text_field :title, class: "input_title", placeholder: "タイトルを入力"
      .upform__post__today
        = f.label :today
        %br
        = f.date_field :today, class: "input_today"
      .upform__post__time
        = f.label :time, "学習時間"
        %br
        = f.number_field :time, class: "input_time", placeholder: "学習時間を1時間単位で入力"
      .upform__post__text
        = f.label :text, "本文"
        %br
        = f.text_area :text, class: "materialize-textarea", placeholder: "学習内容をメモ書き"
    .upform__postupper
      .upform__postupper__button
        = f.submit '更新する',  class: "submit-btn", data: { disable_with: '更新中...' }

    .upform__returnkey
      = link_to users_path do
        %p.back__btn もどる
-# = render "partial/footer"