= render "partial/header"
.content-1
  %h1 OP-M
  %h2 Output - manager
  %p アウトプットマネージャーは、日々の学習と学習時間を記録し、学習意欲の向上をサポートするサービスです。
.content-2
  How to use
.content-3
.content-4
.new-posts
  .new-posts__list
    .new-posts__list__inform
      新着投稿一覧
    .new-posts__list__upper
    - @articles.each do |article|
      .new-posts__list__upper__box
        .new-posts__list__upper__box__left
        .new-posts__list__upper__box__right
          .new-posts__list__upper__box__right__title
            = link_to article_path "#{article.id}" do
              = article.title
          .new-posts__list__upper__box__right__box
            .new-posts__list__upper__box__right__box__user
              = article.user.name
            .new-posts__list__upper__box__right__box__now
              = article.created_at.strftime("%Y年%m月%d日 %H時%M分")
.footer
  .footers
    .footers__title
      Output - manager
    .footers__message
      .footers__message__1
        ©️2020
      .footers__message__2
        OP-M:ryuso0720