.upform
  = form_with model: @post, local: true, method: "POST" do |f|
    .upform__post
      .upform__post__title
        = f.label :title, "タイトル"
        %br
        = f.text_field :title, class: "input_title", placeholder: "タイトル"
      .upform__post__today
        = f.label :today
        %br
        = f.date_field :today, class: "input_today"
      .upform__post__time
        = f.label :time, "学習時間"
        %br
        = f.number_field :time, class: "input_time"
      .upform__post__text
        = f.label :text, "本文"
        %br
        = f.text_area :text, class: "materialize-textarea"
    .upform__postupper
      .upform__postupper__button
        = f.submit '投稿する',  class: "submit-btn", data: { disable_with: '投稿中...' }

    .upform__returnkey
      = link_to root_path do
        %p.back__btn もどる

